.heading {
  /* position: relative; */
  margin-bottom: 50px;
}
.heading h2::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.heading h2 {
  font-family: var(--font-f-header);
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
