.reset-form .form form .input-group input {
  background-color: #f4f4f4;
}

.reset-form .form form .input-group input[type="submit"] {
  background-color: var(--font-color);
  transition: all 0.4s ease;
}
.reset-form .form form .input-group input[type="submit"]:hover {
  background-color: #222222de;
}
.reset-form .form .cancel-reset a {
  color: #666666;
}
.reset-form .form .cancel-reset a:hover {
  color: var(--main-color);
}
@media (max-width: 575px) {
  .reset-form .form .form-header h5 {
    font-size: 30px;
  }
}
