.banner-one .img img,
.banner-two .img img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-info {
  top: 50%;
  transform: translateY(-50%);
}
.banner-two .banner-info {
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-info .info h1 {
  font-size: 70px;
  letter-spacing: 1.4px;
  font-family: var(--font-f-header);
}
.banner-info .button button:hover {
  background-color: #ffffff;
  color: #000c;
}
.banner-info .button i {
  font-size: 18px;
  font-weight: 600;
}

.banners .swiper-button-next::after,
.banners .swiper-button-prev::after {
  content: none !important;
}

.banners .swiper-button-next::before,
.banners .swiper-button-prev::before {
  font-family: "FontAwesome";
  font-size: 18px;
  color: #fff;
}
.banners .swiper-button-next::before {
  content: "\f178";
}
.banners .swiper-button-prev::before {
  content: "\f177";
}
.banners .swiper-button-next,
.banners .swiper-button-prev {
  background-color: transparent;
  box-shadow: 3px 3px 6px -1px rgb(0 0 0 / 40%);
  width: 0;
  height: 0;
  padding: 22px 25px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}
.other-banners > .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 10%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  transition: all 0.5s;
}
.other-banners > .image:hover::before {
  opacity: 1;
}
.other-banners .image img {
  transition: 0.5s;
}
.other-banners > .image:hover img {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .banner-info .info,
  .banner-info .button {
    max-width: 100%;
    padding-left: 15px;
  }
  .banner-info .info h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .banner-info .info,
  .banner-info .button {
    max-width: 100%;
    padding-left: 30px;
    width: 350px;
  }
  .banner-info .info h1 {
    font-size: 40px;
  }
  .banner-info .info p {
    line-height: 1.5;
  }
  .other-banners img {
    width: 100%;
  }

  .banner-img > .arrows {
    display: none;
  }
}

@media (max-width: 575px) {
  .banner-info .info,
  .banner-info .button {
    padding-left: 50px;
  }
  .banner-info .info h1 {
    font-size: 25px;
  }
  .banner-info .info p {
    width: 210px;
    font-size: 11px;
  }
}
